#root {
  width: 100%;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.menu {
  display: flex;
  list-style: none;
  gap: 1rem;
  justify-content: center;
  width: 100%;
}

.menu > li > .active {
  color: green !important;
  text-decoration: underline;
}

.project-menu > li > .active {
  color: blueviolet;
  text-decoration: underline;
}
